
.dark-mode .mynav{
    background-color: #1f2c39;
}
.dark-mode  .hamburger{
    color: #ECF0F1;
}
.dark-mode .close-button{
    color: #ECF0F1;
}
.dark-mode #toggle-button{
    color:#ECF0F1;
}
.dark-mode #toggle-button:hover{
    color: #1f2c39;
}
.dark-mode #links{
    background-color: #1f2c39;
}
.dark-mode .links a{
    color : #ECF0F1;
}
.dark-mode .links a:hover{
    color: #2C3E50;
    background-color: #D4D8D8;
}
.dark-mode .logo h2{
    color: #ECF0F1;
}
.dark-mode .container{
  background-image: url(../assets/images/darkened.jpg);
}
.dark-mode .left-section{
    filter: brightness(0.6) contrast(1.2)
}
.dark-mode .right-section p{
    color: #ffffff;
}
.dark-mode .right-section span{
    color: #000000;
}
.dark-mode .Connect button{
    color: #ECF0F1;
}
.dark-mode .about-section{
    background-color: #1B2733;
}
.dark-mode .about-me{
    background-color: #1f2c39;
}
.dark-mode .about-me p{
    color: #ffffff;
}
.dark-mode .technologies-list li{
    background-color: #2C3E50;
    color: #ffffff;
}
.dark-mode .services{
    background-color: #1f2c39;
}
.dark-mode .services li{
    background-color: #1B2733;
    color: #D4D8D8;
}
.dark-mode .services p{
    color: #00a0c7;
}
.dark-mode .projects{
    background-color: #1B2733;
}
.dark-mode .projects-section span{
    color: #00a0c7;
}
.dark-mode .projects-section li{
    background-color: #2C3E50;
    color: #D4D8D8;
}
.dark-mode .projects-section .showcase{
    background-color: #1f2c39;
}
.dark-mode .projects-section a{
    background-color: #00a0c7;
}
.dark-mode .contact{
    background-color: #1f2c39;
}
.dark-mode form{
    background-color: #1f2c39;
    border: 1px solid #AEB8C4;
}
.dark-mode .contact-section input{
    color: #D4D8D8;
    border: 1px solid #AEB8C4;
}
.dark-mode .contact-section input[type=text]{
    background-color: #2C3E50;
}
.dark-mode .contact-section input[type=email]{
    background-color: #2C3E50;
}
.dark-mode .contact-section input[type=submit]{
    border: none;
}
.dark-mode .contact-section textarea{
    background-color: #2C3E50;
    color: #D4D8D8;
    border: 1px solid #AEB8C4;
}
.dark-mode .contact-section input::placeholder{
    color: #D4D8D8;
}
.dark-mode .contact-section textarea::placeholder{
    color: #ECF0F1;
}
.dark-mode .contact-links-section p{
    color: #D4D8D8;
}
.dark-mode .contact-links a:hover{
    border: none;
}
.dark-mode .footer-class{
    background-color: #1B2733;
    color: #ECF0F1;
}