@media (min-width : 1025px) and (max-width : 1439px) {   
    .container .hero-section {
        margin: 0;
        padding: 0 40px 0 40px;
    }
    .about-container {
        padding: 40px;
        margin: 0;
    }
    .about-me{
        padding: 30px;
        margin: 0; 
    }   
    .technologies h3{
        margin: 0 0 20px 0;
        font-size: 30px;
    }
    .technologies{
        padding: 0 20px 0 20px;
    }
    .services{
        padding: 40px;
    }
    .services-container{
        padding: 0;
        margin: 0;
    }
    .services-container ul{
        flex-wrap: wrap;
    }
    .services-container li{
        margin: 10px;
        padding: 20px;
        text-align: center;
    }
    .services-container li img{
        width: 60px;
        height: 60px;
    }
    .projects-section{
        margin: 0;
        padding: 50px 40px;
    }
    .projects-section ul{
        flex-wrap: wrap;
    }
    .projects-section .showcase{
        padding: 15px;
    }
    .contact{
        padding:  50px 40px 50px 40px;
    }
    .contact-header{
        margin: 0 0 40px 0;
    }
    .contact-container {
        margin: 0;
    }    
    .contact-links-section {
        max-width: 500px;
        padding: 0 20px 0 20px;
    }
}