 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans'
}
    .mynav {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .mynav .nav-links{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .mynav .links{
        display: flex;
        flex-direction: row;
        margin: 0 1em 0 0;
        gap: 1em;
        justify-content: end;
    }
    #toggle-button{
        padding: 5px;
        font-size: 17px;
        color:#3D5B98;
    }
    #toggle-button:hover{
        background-color: #E5E5E5;
    }
    .logo h2 {
        color: #3D5B98;
        font-size: 17px;
    }

    .logo h2:hover {
        cursor: pointer;
    }

    .hamburger, .close-button {
        display: none;
        color: #2E4472;
    }

    .links a {
        color: #3D5B98;
        font-size: 17px;
        text-decoration: none;
        padding: 8px;
        font-weight: 500;
    }

    .links li {
        text-decoration: none;
        list-style-type: none;
    }

    .links a:hover {
        background-color: #3D5B98;
        color: #FFFFFF;
        transition: 0.3s;
    }
    .container {
        height:100vh;
        display: flex;
        background-image: url(../assets/images/67037.jpg);
        background-size: cover;
        background-position: bottom;
        }

    .container .hero-section {
        display: flex;
        align-items: center;
        margin: 0 10%;
        width: 100%;
    }

    .right-section {
        display: flex;
        flex-direction: column;
    }

    .right-section p {
        text-align: start;
        font-size: 60px;
        color: #070d09;
    }
    .right-section span {
        color: #4d72be;
        font-weight: 700;
    }
    .Connect {
        display: flex;
        justify-content: start;
        gap: 20px;
        margin: 40px 0 0;
    }
    .Connect button {
        padding: 10px;
        width: 200px;
        height: 60px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
        border: none;
        background-color: #4d72be;
        color: #FFFFFF;
        border-radius: 5px;
    }

    .Connect button:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 #2E4472;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        padding: 100px 0 100px 0;
        margin: 0 10%;
        justify-content: center;
        gap: 4em;
    }

    .about-me {
        max-width: 600px;
        background-color: #F7F7F7;
        padding: 30px;
        border-radius: 5px;
    }

    .about-me h2 {
        margin: 0 0 25px 0;
        color: #008b7d;
        font-size: 40px;
        text-align: center;
    }

    .about-me p {
        text-align: justify;
        color: #070d09;
        line-height: 1.5;
    }

    .technologies h3 {
        margin: 0 0 25px 0;
        font-size: 25px;
        color: #3D5B98;
        text-align: center;
    }
    .technologies {
        max-width: 600px;
    }

    .technologies .technologies-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 0 15px;
    }

    .technologies-list li {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: 0.2s;
        margin: 8px;
        border-radius: 5px;
    }

    .technologies-list li:hover {
        transform: scale(1.1);
    }

    .technologies-list img {
        width: 36px;
        height: 36px;
        margin: 0 10px 0 0;
    }
    .services{
        background-color: #F7F7F7;
    }
    .services-container{
        margin: 0 10%;
        padding: 70px 0 100px 0;
    }
    .services-container h3{
        font-size: 35px;
        margin: 0 0 50px 0;
        color: #008b7d;
        text-align: center;

    }
    .services-container ul{
        display: flex;
        list-style-type: none;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .services p{
        margin: 0 0 20px 0;
        text-align: center;
        color: #3D5B98;
        font-size: 20px;
        font-weight: 500;
    }
    .services li{
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: #FFFFFF;
        transition: 0.2s;
        border-radius: 5px;
        line-height: 1.4;

    }
    .services li:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .services li img{
        width: 100px;
        height: 100px;
        margin: 0 0 10px 0;
    }
    .projects-section{
        margin: 0 10%;
        padding: 50px 0 100px 0;
    }
    .projects-section h3{
        text-align: center;
        font-size: 40px;
        margin: 0 0 50px 0;
        color:#008b7d;
    }
    .projects-section ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;
    }
    .projects-section li{
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        transition: 0.2s;
    }
    .projects-section li p{
        line-height: 1.4;
    }
    .showcase{
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #F7F7F7;
    }
    .projects-section li a{
        font-size: 14px;
        text-decoration: none;
        background-color: #3D5B98;
        padding: 10px;
        color: #FFFFFF;
        margin: 10px 0 0 0;
        border-radius: 5px;
    }
    .projects-section li .fa-arrow-right{
        margin: 0 5px 0 5px;
        transition: 0.2s;
    }
    .projects-section li:hover{
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .projects-section li .fa-arrow-right:hover{
        transform: translateX(5px);
    }
    .projects-section li img{
        width: 150px;
        height: 150px;
        object-fit: contain;
        padding: 10px;
    }
    .projects-section span{
        font-size: 20px;
        color: #3D5B98;
        font-weight: 500;
        margin: 0 0 10px 0;
    }
    .contact {
        padding: 50px 0 100px 0;
        background-color: #F7F7F7;
    }

    .contact-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 3em;
        flex-direction: row;
        margin: 0 10%;
    }
    .contact-section{
        max-width: 600px;
    }
    .contact-header {
        text-align: center;
        font-size: 40px;
        color: #4d72be;
        margin: 0 0 50px 0;
    }
    .contact-section input {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #C1C1C1;
        background-color: #F7F7F7;

    }
    .contact-section input:focus{
        outline: none;
    }
    .contact-section input[type=submit] {
        margin-top: 10px;
        color: #070d09;
        border: none;
        transition: 0.2s;
        background-color: #4d72be;
        color: #FFFFFF;
    }

    .contact-section input[type=submit]:hover {
        background-color: #3D5B98;
        cursor: pointer;
    }

    .contact-section textarea {
        width: 100%;
        height: 200px;
        border: 1px solid #C1C1C1;
        resize: vertical;
        padding: 10px;
        background-color: #F7F7F7;
    }
    .contact-section textarea:focus{
        outline: none;
    }
    .contact-links-section {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 0 50px;
        border-radius: 5px;
        max-width: 500px;
    }
    .contact-links-section .contact-links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        transition: 0.3s ease-in;
        margin: 20px 0 0 0;
    }
    .contact-links li {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: #373b48;
        padding: 10px;
        border-radius: 50%;
        margin: 0 20px 0 0;
    }
    .contact-links li a{
        color: #F7F7F7;
    }
    .contact-links :hover{
        background-color: #070d09;
    }
    .contact-links-section p {
        line-height: 1.6;
    }
    .footer-class {
        background-color: #FFFFFF;
        border-top: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        padding: 10px;
        color: #070d09;
        justify-content: center;
        font-size: 16px;
    }
    .footer-class img {
        width: 25px;
        height: 25px;
        margin: 10px;
    }