@media screen and (min-width:768px) and (max-width:1023px) {
    .mynav {
        padding: 20px;
        height: auto;
        top: 0;
        justify-content: space-between;
    }
    .logo h2{
        margin: 0;
        font-weight: 700;
    }

    #links {
        margin: 0;
        height: 100%;
        position: fixed;
        width: 0;
        z-index: 1;
        top: 0;
        right: 0;
        background: #ffffff;
        overflow-x: hidden;
        padding: 60px 0 0;
        transition: 0.2s;
        border: 1px solid #E5E5E5;
        flex-direction: column;
        gap: 0;

    }

    .links li {
        text-align: center;
        display: flex;
        border-top: 1px solid #E5E5E5;
        justify-content: center;
        padding: 10px;
    }

    .links a {
        font-size: 16px;
        color: #6F8DCB;
        padding: 10px;
        
    }

    .hamburger{
        display: block;
    }
    .close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .container {
        height: 100vh;
        background-repeat: no-repeat;
    }

    .container .hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 0 30px 0 30px;
    }
    .right-section {
        align-items: flex-start;
    }

    .right-section p {
        text-align: start;
        font-size: 40px;
        line-height: 1.1;
        color:#000000;
    }
    .right-section span{
        color:#ffffff;
    }

    .Connect {
        flex-direction: column;
        gap: 20px;
    }

    .about-container {
        padding: 30px;
        margin: 0;
    }

    .about-me{
        padding: 20px;
    }

    .about-me h2 {
        font-size: 40px;
        padding: 0;
        font-weight: 400;
    }

    .about-me p {
        font-size: 17px;
        text-align: justify;
        font-weight: 300;
    }
    .technologies{
        padding: 0;
    }

    .technologies h3{
        text-align: center;
        font-size: 25px;
        font-family: "Inter";
        margin: 50px 0 30px 0;
        color: #6F8DCB;
        font-weight: 400;
    }
    
    .technologies .technologies-list{
        list-style-type: none;
        justify-content: center;
        gap: 0 20px;
        padding: 20px;
    }
    .technologies .technologies-list li{
        background-color: #E5E5E5;
        display: flex;
        justify-content: flex-start;
        border-radius: 5px;
    }
    .technologies .technologies-list img{
        width: 66px;
        height: 66px;
    }
    .contact{
        padding: 30px;
    }
    .contact-container {
        flex-direction: row;
        gap: 0;
        margin: 0;
        justify-content: center;
        align-items: flex-start;
    }
    #contact-form{
        margin: 0 40px 0 0;
    }

    .contact-header{
        margin: 50px 0 30px 0;
    }

    .contact-links-section {
        align-items: flex-start;
        justify-content: center;
        max-width: 300px;
        padding: 20px;
        gap: 0;
    }

    .contact-links-section h3 {
        font-size: 30px;
    }

    .contact-links-section p {
        font-size: 15px;
    }
    .social .contact-links{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

    .social .contact-links img{
        width: 56px;
        height: 56px;
    }

    .footer-class {
        font-size: 11px;
        padding: 20px;
    }
}