  @media screen and (max-width:600px) {
      .mynav {
          padding: 17px;
          height: auto;
          justify-content: space-between;
          border-bottom: 1px solid #E5E5E5;
      }

      .logo h2{
          margin: 0;
          font-weight: normal;
      }

      #links {
          margin: 0;
          height: 100%;
          position: fixed;
          width: 0;
          z-index: 1;
          top: 0;
          right: 0;
          background: #ffffff;
          overflow-x: hidden;
          padding: 60px 0 0;
          transition: 0.2s;
          flex-direction: column;
          gap: 0;

      }

      .links li {
          display: flex;
          border-top: 1px dotted #E5E5E5;
          justify-content: start;
          padding: 10px;
          font-size: 25px;
      }

      .links a {
          font-size: 16px;
          color: #6F8DCB;
          padding: 0;
          width: 100%;
      }

      .links a:hover {
          background-color: #ffffff;
          color: #6F8DCB;
      }

      .mynav .hamburger {
          display: block;
          font-weight: 200;
      }

      .close-button {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          padding: none;
          border: none !important;
      }

      .container {
          background-size: cover;
          background-repeat: no-repeat;
      }

      .container .hero-section {
          display: flex;
          flex-direction: column-reverse;
          padding: 0;
          justify-content: center;
          padding: 0 17px 0 17px;
      }

      .left-section {
          display: none;
      }

      .right-section {
          align-items: flex-start;
      }

      .right-section p {
          text-align: left;
          font-size: 37px;
          color: #000000;
      }
      .right-section span{
        color: #ffffff;
      }

      .Connect {
          flex-direction: column;
          gap: 20px;
      }

      .Connect button {
          color: #ffffff;
          width: 130px;
      }

      .Connect button:hover {
          transform: translateY(-4px) translateX(-2px);
      }

      .about-container {
          padding: 70px 17px 70px 17px;
          margin: 0;
      }

      .about-me {
          padding: 0;
      }

      .about-me h2 {
          font-size: 30px;
          padding: 0;
          text-align: center;
          margin: 0 0 20px 0;
      }

      .about-me p {
          font-size: 13px;
          text-align: left;
      }

      .technologies {
          padding: 0;
      }

      .technologies h3 {
          text-align: center;
          font-size: 25px;
          font-family: "Inter";
          margin: 50px 0 30px 0;
          color: #6F8DCB;
      }

      .technologies .technologies-list {
          list-style-type: none;
          /* display: grid;
          grid-template-columns: repeat(auto-fit, 144px); */
          justify-content: center;
          gap: 0 20px 0 0;
          margin: 20px 0 0 0;
      }

      .technologies .technologies-list li {
          background-color: #E5E5E5;
          display: flex;
          justify-content: flex-start;
          border-radius: 5px;
          padding: 10px;
      }
      .technologies .technologies-list img {
          width: 46px;
          height: 46px;
      }
      .contact{
        padding: 50px 17px 0 17px;
      }
      .contact-container {
          flex-direction: column-reverse;
          margin: 0;
          gap: 2em;
      }

      .contact-header {
          font-size: 30px;
          margin: 0 0 40px 0;
          text-align: center;
      }
      .contact-links-section {
          align-items: center;
          justify-content: center;
          padding: 0;
          background-color: inherit;
      }

      .contact-links-section .contact-links {
          display: none;
      }

      .contact-links-section p {
          font-size: 13px;
      }

      .social {
          margin: 20px 0 20px 0;
          display: block;
      }

      .social .contact-links {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
      }

      .social .contact-links img {
          width: 46px;
          height: 46px;
      }

      .footer-class {
          font-size: 12px;
          padding: 17px;
      }
  }