* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #F5FAF7;
}

nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px;
    background-color: #80A1C1;
}

.mynav .links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.hamburger {
    display: none;
    color: #F5FAF7;
    font-size: 25px;
}

.close-button {
    display: none;
    color: #F5FAF7;
    font-size: 25px;
}

.links a {
    text-decoration: none;
    color: #F5FAF7;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter';
    padding: 4px
}

.links li {
    text-decoration: none;
    list-style-type: none;
}

.links a:hover {
    color: #80A1C1;
    background-color: #F5FAF7;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.right-section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    height: auto;
}

.right-section p {

    text-align: center;
    font-size: 55px;
    font-family: 'Inter';
    height: auto;
    color: #070d09;
    font-weight: 700;
}

span {
    font-size: 20px;
    font-weight: normal;
}

.left-section {
    max-width: 600px;
}

.left-section img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: right;
    border-radius: 50%;
}

.container {
    padding: 10px 100px 0;
}

.container .hero-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 100px 0 200px;
}

.logo {
    color: #F5FAF7;
    font-family: 'Inter';
    text-decoration: none;

}

.Connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 0;
}

.Connect button {
    font-family: 'Inter';
    padding: 10px;
    color: #F5FAF7;
    width: 150px;
    height: 60px;
    font-size: 20px;
    background-color: #80A1C1;
    border: none;
    border-radius: 4px;
    transition: all 0.5;
    cursor: pointer;
    transition: 0.5s;
}
.Connect button:hover{
    background-color: #66809A;
}

.about-container {
    padding: 10px 100px 0;
}

.about-container .about-me {
    margin: 0 0 200px;
}

.about-me h2 {
    margin-bottom: 10px;
    font-family: "Inter";
    color: #F2D0A4;
    font-size: 1.8vw;
}

.about-me p {
    text-align: justify;
    font-size: 20px;
    font-family: "Inter";
    color: #070d09;
    line-height: 1.6;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 100px 0 100px;
    padding: 0 100px 0;
    gap: 50px;

}

.contact-container.contact-section {
    max-width: 600px;
    display: flex;
    flex-direction: column;

}

.contact-section input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #80A1C1;
    border-radius: 4px;
}

.contact-section input[type=submit] {
    margin-top: 10px;
    background-color: #80A1C1;
    color: #f5faf7;
    border: none;
}

.contact-section textarea {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    border: 2px solid #80A1C1;
    resize: vertical;
    padding: 10px;
}

.contact-links-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 300px;
    margin-right: 50px;
    align-items: flex-start;
}

.contact-links a {
    font-size: 30px;
    margin: 10px;
    color: #80A1C1;
}

.contact-links-section p {
    font-size: 20px;
    font-family: "Inter";
    line-height: 2;
}

.contact-links-section h3 {
    font-size: 1.8vw;
    font-family: "Inter";
    text-align: justify;
    color: #F2D0A4;
}

.footer-class {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #80A1C1;
    padding: 10px 100px 10px;
    color: #F5FAF7;
    justify-content: center;
    font-family: "Inter";
    font-size: 16px;
    height: 80px;
}